body{width: 90%;}

h1,h2{margin-top: 2%;
	  margin-bottom: 2%;
	  margin-left: 3%;}

.copia{width: 96%;
	   float: left;
	   height: 70px;}

.ajuste{width: 16%;
		float: left;
		height: 70px;
		margin-left: 3%;}

.ajuste1{width: 15%;
		margin-right: 77%;
		float: left;
		height: 70px;
		margin-left: 3%;}

.ajuste2,.ajuste3{width: 17%;
		float: left;
		margin-right: 2%;
		margin-top: 1%;
}

.enviar {margin-top: 1%;
		 width: 100%;
	  	 margin-left: 3%;
	  	 margin-bottom: 2%;
	  	 float: left;}
	  	 
.enviar input {margin-right: 2%;}

.metodo{width: 80%;
		margin-left: 2%;}

.ajustemetodo{width: 30%;
			  margin-left: 2.2%;}

.ajustemetodo input{margin: 4%;}

#Bmetodo{width:100%;float: left;}

#metodo{margin-left: 3%;}

#enviar{margin-left: 3%;
		margin-top: 2%;}